<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contents</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Origin</th>
        <th>Enlace</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${contents}" >
        <td th:text="${c.title}">...</td>
        <td th:text="${c.author}">...</td>
        <td th:text="${c.description}">...</td>
        <td th:text="${c.origin}">...</td>
        <td>
            <a th:href="${c.url}">click</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>